/* Center all text */
.text-center {
    text-align: center;
}

/* body background */
body {
    background-image: url("../images/cat3.jpg");
    height: 70%;
    background-size: cover;
}

#HeadingAndNav{
    position:fixed;
    width: 100%;
}
/* Navigation bar */
nav {
    background-image: linear-gradient(195deg, rgb(164, 208, 168), rgb(65, 94, 71));
    text-align: right;
    border-radius: 10px;
    padding-right: 2%;
    /* position: fixed; */
}

/* making ul margin 0 */
.horizontal-list {
    margin: 0px;
}

/* macking list as inline element */
.horizontal-list li {
    display: inline-block;
    padding: 15px;
}


/* removing underline from link */
.horizontal-list li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: x-large;
    transition: color 0.5s;
    height: 300px;
}


/* making link responsive on when  hover on it */
.horizontal-list li a:hover {
    color: rgb(241, 248, 248);
    text-decoration: underline;
}


/* social icon  */
.social-icon li a img {
    border-radius: 30%;
    height: 25px
}

.social-icon li a {
    border-radius: 70%;
}

.social-icon li a:hover {
    box-shadow: 0px 0px 20px 5px rgb(20, 81, 215);
    transition: color -2s;
}

/* Header name */
#name {

    margin: 5px;
    padding: 12px;
    font-family: 'Roboto', Arial, sans-serif;
    color: white;
    text-align: left;
    font-size: 48px;
    background-color: #946060eb;
    /* background-image: linear-gradient(195deg, rgb(30,144,255), rgb(0,191,255)); */
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgB8hmNMxJjxBU3lMQIq5vVu0_XE1iWpAmTT7PgfywxzkIVdEz26StUh6JwdtEY_sSPEA4gehHlPc&usqp=CAU&ec=48665698");
    /* background-color: #0f0e0eeb; */
    border-radius: 10px;
}

/* for main content */
#container{
    width :90%;
    height: auto;
    margin-top: 150px;
    /* background-color: rgba(4, 53, 53, 0.088); */
    display: flex;
    flex-wrap: wrap;
     flex-direction: row;
    justify-content: space-between; 
}

#container div{
    height: 200px;
    width: 32%;
    margin: 5px;
    background-color: rgba(18, 61, 69, 0.508);
    font-size: 20px;
}

#container div img{
    height: 200px;
    width: 100%;
    background-size: cover;
}

.fontsize2{
    font-size: 40px;
}


/* Footer */

.Contact {
    /* background-color: aqua; */
    background-image: linear-gradient(to top right, rgb(62, 139, 151), rgb(43, 92, 148));
    border-radius: 2%;
    opacity: 0.8;
    /* padding-top: 100px;
    padding-right: 100px; */
    height: 20%;
    margin-bottom: 0px;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    border-radius: 15px;
}

.Contact input {
    color: rgb(0, 0, 0);
    border: none;
    width: 90%;
    border-bottom: 2px solid rgb(240, 244, 246);
    margin: 20px;
    background-color: transparent;
    outline: 0 none;
}

.Contact input::placeholder {
    color: white;
}

.Contact button {
    color: white;
    margin: 4px;
    border: 2px solid white;
    background-color: transparent;
    margin-left: 40px;
}

.Contact button:hover {
    background-color: rgb(37, 86, 154);
}

.logo {
    width: 20px;
    margin-right: 10px;
    background-color: transparent;
}

.Contact div {
    display: inline-block;
    margin: auto;
    color: white;
}

#div1 {
    width: 30%;
    vertical-align: top;
    margin-left: 10%;
}

#div2 {
    width: 40%;
    margin-left: 15%;
}


