/* Center all text */
.text-center {
    text-align:center;
}

/* making ul margin 0 */
.horizontal-list{
    margin: 0px;
}

/* macking list as inline element */
.horizontal-list li{
    display: inline-block;
    padding: 15px;
}


/* removing underline from link */
.horizontal-list li a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: x-large;
    transition: color 0.5s;
    height: 300px;
 }


 /* making link responsive on when  hover on it */
.horizontal-list li a:hover{
   color:rgb(241, 248, 248);
   text-decoration: underline;
 }


 /* social icon  */
 .social-icon li a img{
    border-radius: 30%;
    height:25px
 }
 
 .social-icon li a{
    border-radius: 70%;
 }
 
 .social-icon li a:hover{
   box-shadow: 0px 0px 20px 5px rgb(83, 189, 219);
   transition: color -2s;
 }

/* Header name */
#name{

    margin: 5px;
    padding: 12px;
    font-family:'Roboto', Arial, sans-serif;
    color: white;
    text-align: left;
    font-size: 48px;
    background-color: #946060eb; 
    /* background-image: linear-gradient(195deg, rgb(30,144,255), rgb(0,191,255)); */
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgB8hmNMxJjxBU3lMQIq5vVu0_XE1iWpAmTT7PgfywxzkIVdEz26StUh6JwdtEY_sSPEA4gehHlPc&usqp=CAU&ec=48665698");
    /* background-color: #0f0e0eeb; */
     border-radius: 10px;
}

body
{
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/868/898/desktop-wallpaper-cute-puppy-baby-pets.jpg");
    background-size: cover;
}

nav
{
    background-image: linear-gradient(195deg, rgb(164, 208, 168), rgb(65, 94, 71));
    text-align: right;
    border-radius: 10px;
    padding-right: 2%;
}


form
        {
            height: 650px;
            width: 500px;
            border: 1px solid black;
            background-color: rgb(143, 163, 163);
            padding-top: 30px;
            padding-left: 20px;
            margin-top: 30px;
            margin-bottom: 30px;
            text-align: left;
        }
       
        #form
        {
            text-align: center;
            height: 489px;
            width: 395px;
            border-radius: 10%;
            opacity: 0.8;
            padding-top: 50px;
            padding-right: 50px;
        }
        label
        {
            width: 150px;
            display: inline-block;
        }
      
        button
        {
            border: black solid 2px;
            height: 50px;
            width: 100px;
            background-color: rgb(229, 154, 154);
        }
        button:hover
        {
            background-color: wheat;
        }
